#yourls-label {
	float: left;
	width: 300px;
	margin-top: 10px;
}

yourls-url {
	float: left;
	margin-top: 10px;
}

#yourls-submit {
	margin-top: 15px;
}

.yourls {
	text-align: left;
	width 100%;
	margin-top: 25px;
	font-size: 20px;
}
