#pledgie-label {
	float: left;
	width: 300px;
	margin-top: 10px;
}

#pledgie-campaign {
	float: left;
	margin-top: 10px;
	width: 100px;
}

#pledgie-describe {
	float: left;
	margin-top: 10px;
	width: 300px;
}

#pledgie-submit {
	margin-top: 15px;
}

.pledgie {
    text-align: center;
	width: 100%;
	margin-top: 25px;
	font-size: 20px;
}
