
#diaspora-enable-label, #diaspora-username-label, #diaspora-password-label, #diaspora-url-label, #diaspora-bydefault-label {
	float: left;
	width: 200px;
	margin-top: 10px;
}

#diaspora-checkbox, #diaspora-username, #diaspora-password, #diaspora-url, #diaspora-bydefault {
	float: left;
	margin-top: 10px;
}

#diaspora-submit {
	margin-top: 15px;
}

