.wall-item-body-toggle {
	text-align: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0), #f6f6f6);
	cursor: pointer;
	height: 50px;
	display: none;
}
.wall-item-body-toggle-text {
	text-shadow: 0 0 5px #f6f6f6;
	font-weight: bold;
	background: none !important;
	border: none;
	padding: 0 !important;
	cursor: pointer;
}
.wall-item-body-toggle-text:hover {
	text-decoration: underline;
}
