.limit-height {
       max-height: 250px;
       overflow: hidden;
}

.wall-item-body-toggle {
    width: 100%;
    text-align: center;
    background-image: linear-gradient(rgba(0,0,0,0), #f6f6f6);
    cursor: pointer;
    height: 50px;
    position: absolute;
    top: auto;
    bottom: 0;
    z-index: 11;
    left: 0;
    display: none;
}
.wall-item-body-toggle-text {
    width: 100%;
    position: absolute;
    top: auto;
    bottom: 0;
    z-index: 12;
    left: 0;
    text-shadow: 0 0 5px #f6f6f6;
    font-weight: bold;
}
.wall-item-body {
    position: relative;
    width: 100%;
}
.wall-item-body-wrapper {
    position: relative;
    width: 100%;
    display: inline-block;
}


