
div.colorPicker-picker { display: inline-block; }
.colorPicker-palette { font-size: 12px; }
.animexxcalendar label, .colorPicker-palette label { background: none; border: none; padding: 0; margin: 0; box-shadow: none; display: inline; font-size: 14px; }
.animexxcalendar input, .colorPicker-palette input { font-size: 14px; }


.ui-datepicker { width: 200px; }
.ui-datepicker * { font-size: 12px; line-height: 12px; }
.ui-datepicker th { padding: 10px 2px; }
.ui-datepicker select.ui-datepicker-year { min-width: 0; width: 50px !important; }
#cal_start_time, #cal_end_time { width: 5em; margin-left: 1em; }
#cal_start_date, #cal_end_date { width: 6em;}


label.block {
	background: none repeat scroll 0 0 #CCCCCC;
	border: 1px solid #EEEEEC;
	box-shadow: 3px 3px 5px 0 #111111;
	color: #111111;
	display: inline-block;
	font-size: small;
	margin: 0 10px 1em 0;
	padding: 3px 5px;
	width: 38%;
	vertical-align: top;
}

label.plain {
	background: none;
	border: none;
	box-shadow: none;
	color: black;
	display: inline;
	margin: 0;
	padding: 0;
}

.rec_exceptions { display: inline-block; }
.rec_exceptions_holder { display: inline-block; }
.rec_exceptions .remover { }
#rec_until_count { width: 50px; }
#rec_until_date { width: 100px; }