
section .forumdirectory-item dl {
  height: auto;
  overflow: auto;	
}

section .forumdirectory-item dt {
  float: left;
  margin-left: 0px;
  text-align: right;
  color: #999;
}
section .forumdirectory-item dd {
  float: left;
  margin-left: 5px;
}
.forumdirectory-profile-wrapper {
  float: left;
  /*max-height: 178px; */
  overflow: hidden;
  width: 500px;
  margin: 0px 20px;
}
.forumdirectory-copy-wrapper {
  float: left;
  overflow: hidden;	
}

.forumdirectory-item {
  float: left;
  width: 800px;
 /* height: 200px; */
  box-shadow: 8px 8px 4px #000;
  margin-top: 30px;
  border: solid 1px #222;
}
section .forumdirectory-photo-wrapper {
  float: left;
  height: 200px;
  width: 165px;	
}

.forumcontact-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: -3px;
  text-align: left;
}

.page-type {
  font-size: 10px;
  font-style: italic;
}
.directory-detailscolumn-wrapper {
  float: left;	
  width: 305px;
  margin-right: 10px;  
}
.directory-profile-wrapper dl {
  margin-top: 3px;
  margin-bottom: 3px;
}
.directory-profile-title {
  font-weight: bold;
  margin-bottom: 3px;
  font-size: 14px;
} 
