
#tumblr-enable-label, #tumblr-username-label, #tumblr-page-label, #tumblr-bydefault-label {
	float: left;
	width: 200px;
	margin-top: 10px;
}

#tumblr-checkbox, #tumblr-username, #tumblr-page, #tumblr-bydefault {
	float: left;
	margin-top: 10px;
}

#tumblr-submit {
	margin-top: 15px;
}

