#profile-smiley-wrapper {
	display: block;
}

#smileybutton {
	display: none;
}

.smiley_button {
	height: 18px;
	width: 18px;
	position: relative;
	left: 285px;
	top: -45px;
	padding: 0;
	border: 0;
	background: none;
}

table.smiley-preview img.smiley {
	max-height: 25px;
	max-width: 25px;
	cursor: pointer;
}

table.smiley-preview {
	border: 1px solid #AAAAAA;
	-moz-border-radius: 3px;
	border-radius: 3px;
	position: relative;
	left: 285px;
	top: -36px;
}

table.smiley-preview td {
	cursor: pointer;
}
