/* fix positioning if more than one jot tool */
.jotplugins > div,
#profile-jot-plugin-wrapper > div {
	float: left;
}
	.jotplugins::after,
	#profile-jot-plugin-wrapper::after {
		content: '';
		display: block;
		clear: both;
	}

#profile-smiley-wrapper {
	display: block;
}

#smileybutton {
	display: none;
	position: fixed;
	background-color: #FFF;
	width: auto;
	border-radius: 8px;
	padding: 10px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.jotplugins #smileybutton {
	position: absolute;
}
/* image does not work with Frio schemes use icon font */
.smiley_button {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
.smiley_button > img {
	display: none;
}
	.smiley_button::before {
		content: '\f055';
		font-family: ForkAwesome;
		font-size: inherit;
		color: inherit;
	}

div.smiley-preview img.smiley {
	max-height: 25px;
	max-width: 25px;
	cursor: pointer;
	vertical-align: baseline;
}

div.smiley-preview {
	border: none;
	max-height: 200px;
	overflow: auto;
}

div.smiley-preview > span {
	cursor: pointer;
	font-size: 24px;
	padding: 5px;
	text-align: center;
	width: 45px;
	height: 45px;
	line-height: 45px;
	float: left;
	display: block;
}
	div.smiley-preview > span:hover,
	div.smiley-preview > span:focus {
		background-color: rgba(0,0,0,.1);
	}
	div.smiley-preview::after {
		content: '';
		display: block;
		clear: both;
	}
#profile-smiley-wrapper > .btn-link {
	position: relative;
	display: block;
	padding: 10px 15px;
}
