img.smiley_button {
	height: 18px;
	width: 18px;
	margin-right: 18px;
}

img.smiley_preview {
	max-height: 25px;
	max-width: 25px;
}

table.smiley-preview {
	border: 1px solid #999999;
	margin-left: 10px;
}
