
#appnetpost-enable-label, #appnetpost-bydefault-label {
	float: left;
	width: 200px;
	margin-top: 10px;
}

#appnetpost-checkbox, #appnetpost-bydefault {
	float: left;
	margin-top: 10px;
}

#appnetpost-submit {
	margin-top: 15px;
}
