
#pumpio-mirror-label,#pumpio-public-label, #pumpio-enable-label, #pumpio-username-label, #pumpio-servername-label, #pumpio-bydefault-label, #pumpio-delete-label {
	float: left;
	width: 200px;
	margin-top: 10px;
}

#pumpio-mirror,#pumpio-public, #pumpio-checkbox, #pumpio-username, #pumpio-servername, #pumpio-bydefault, #pumpio-delete {
	float: left;
	margin-top: 10px;
}

#pumpio-submit {
	margin-top: 15px;
}

