.hanga {font:bold 14pt Courier, "Courier New", monospace;text-align:center;}
.hangt {font:normal 16pt Courier, "Courier New", monospace;text-align:center;color:#efefef;}
.hangb {width:800px;height:430px;overflow:hidden;background:#777;border:#000000 1px solid;}
                  
