

#twitter-avatar {
	float: left;
	width: 48px;
	height: 48px;
	padding: 2px;
}
#twitter-info-block {
	height: 52px;
	vertical-align: middle;
}
#twitter-disconnect-label {
	float: left;
	width: 250px;
	margin-bottom: 25px;
}

#twitter-disconnect {
	float: left;
}
#twitter-default-label,
#twitter-sendtaglinks-label,
#twitter-enable-label,
#twitter-shortening-label, 
#twitter-mirror-label,
#twitter-pin-label {
        float: left;
        width: 250px;
        margin-bottom: 10px;
}

#twitter-checkbox {
	float: left;
}

#twitter-pin {
	float: left;
}


