
#fbsync-enable-label, #fbsync-create_user-label {
	float: left;
	width: 200px;
	margin-top: 10px;
}

#fbsync-checkbox, #fbsync-create_user {
	float: left;
	margin-top: 10px;
}

#fbsync-submit {
	margin-top: 15px;
}
